fieldset legend {
    font-size: xx-large;
    text-align: center;
    
}

fieldset, input {
    margin: 30px;
    background-color:thistle;
    border: dotted;
    text-align: center;
    color: purple;
    
}

input {
    margin: 10px;
    border-style: groove;
}

input:focus {
    background-color: white;
    border-color: black;
}

#idLogin {
    width: 150px;
    height: 50px;
    background-color:black;
    color: white;
    border-radius: 4px;
    border-color: purple;
    margin-bottom: 10px;
    
}

#idRecSenha {
    border-radius: 4px;
    border-color: purple;
    background-color: thistle;
}